{{ partial "header.html" . }}

<section id=content>
    <div class="archive-gallery">
        {{ $images := where .Site.RegularPages "Section" "photo" }}
        {{ range first 7 $images }}
        {{ $img := .Page.Resources.GetMatch .Params.photo }}
        {{ $image := $img.Fill "100x100" }}
            <a href="{{ .Permalink }}"><img src="{{ $image.RelPermalink }}"></a>
        {{ end }}
    </div>

    <div class="archive">
        {{ range $key, $taxonomy := .Site.Taxonomies.tags.ByCount }}
        <a class="archive-item-{{ $taxonomy.Count }}" href="/tags/{{ $taxonomy.Name | urlize }}">{{ $taxonomy.Name }}</a>&nbsp;&nbsp;
        {{ end }}
    </div>

    <div class="archive">
        {{ range $key, $taxonomy := .Site.Taxonomies.locations.ByCount }}
        <a class="archive-item-{{ $taxonomy.Count }}" href="/locations/{{ $taxonomy.Name | urlize }}">{{ $taxonomy.Name }}</a>&nbsp;&nbsp;
        {{ end }}
    </div>

    <div class="archive">
        {{ range where .Site.Pages "Section" "post" }}
        {{ range .Pages.GroupByDate "2006"}}
        <h1>{{ .Key }}</h1>
        {{ range .Pages }}
        <ul>
            {{ if .Title }}
                <li><a href="{{ .Permalink }}" class="archive-item-link">{{ .Title }}</a><span class="archive-item-date">&nbsp;{{ .Date.Format "Jan 2" }}</span></li>
            {{ else }}
                <li><a href="{{ .Permalink }}" class="archive-item-link">&infin;</a><span class="archive-item-date">&nbsp;{{ .Date.Format "Jan 2" }}</span></li>
            {{ end }}
        </ul>
        {{ end }}
        {{ end }}
        {{ end }}
    </div>
</section>
{{ partial "footer.html" . }}