{{ define "main" }}

<main>
    <div class="post">
    <div class="archive">
        <h2 class="archive-title">Topics</h2>
        {{ range $key, $taxonomy := .Site.Taxonomies.tags.ByCount }}
        <a class="archive-item-{{ $taxonomy.Count }}" href="/tags/{{ $taxonomy.Name | urlize }}">{{ $taxonomy.Name }}</a>&nbsp;&nbsp;
        {{ end }}
    </div>
    <div class="archive">
        {{ range where .Site.Pages "Section" "post" }}
        {{ range .Pages.GroupByDate "2006"}}
        <h2 class="archive-title">{{ .Key }}</h2>
        {{ range .Pages }}
        <ul>
            {{ if .Title }}
            <!-- <article class="archive-item"> -->
                <li><a href="{{ .Permalink }}" class="archive-item-link">{{ .Title }}</a><span class="archive-item-date">&nbsp;{{ .Date.Format "Jan 2" }} </span></li>
            <!-- </article> -->
            {{ else }}
            <li><a href="{{ .Permalink }}" class="archive-item-date">{{ .Date.Format "Jan 2" }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
        {{ end }}
        {{ end }}
    </div>
</div>
</main>

{{ end }}
