<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if not .IsHome }}{{ .Title }} — {{ end }}{{ .Site.Title }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  {{ $css := resources.Get "css/custom.css" | minify }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">
  {{ with .OutputFormats.Get "RSS" }}
    <link rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" href="{{ .RelPermalink }}">
  {{ end }}
  <script src="https://cdn.telemetrydeck.com/websdk/telemetrydeck.min.js" data-app-id="97B71432-FB39-4016-9CD1-DA71999BE2F5"></script>
</head>
<body>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    <p>{{ .Site.Copyright }}</p>
    <p>
      contact@piotr.is
    </p>
  </footer>
</body>
</html>
