{{ define "main" }}

<main>
	<div class="post">
		{{ if eq .Section "post" }}
		{{ if .Params.Title }}
		{{ partial "single/post-info.html" . }}
		{{ partial "single/title.html" . }}
		{{ end }}
		{{ end }}
		{{ .Content }}
	</div>

	{{ if eq .Section "post" }}
	<div class="meta">
		{{ if (not (isset .Params "title")) }}
		<div><time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "January 2, 2006" }}</time>
		{{- if .Params.location }}
		&nbsp;&middot;&nbsp;{{ .Params.location }}
		{{- end }}</div>
		{{ end }}
		<div>{{- if .Params.tags }}
		{{ range .Params.tags }}
		<a href="/tags/{{ . | urlize }}">#{{.}}</a>
		{{ end }}
		{{- end }}</div>
	</div>

	{{ partial "recently.html" . }}
	{{ end }}
</main>

{{ end }}