{{ $js := resources.Get "js/littlefoot.js" }}
<script src="{{ $js.Permalink }}" type="application/javascript"></script>
<script type="application/javascript">
  littlefoot.littlefoot(
    {
      buttonTemplate: `<button
  aria-label="Footnote <% number %>"
  class="littlefoot-footnote__button"
  id="<% reference %>"
  title="See Footnote <% number %>"
/>
  <% number %>
</button>`}
  )
</script>

<p class="text-xs text-neutral-500 dark:text-neutral-400">
<br />This website doesn't use cookies and collects no data about its visitors. <br />
Contact the author at contact@piotr.is.
</p>
