{{ partial "header.html" . }}
{{ range first 1 (where .Site.Pages "Section" "photo") }}
{{ $img := .Page.Resources.GetMatch .Params.photo}}
{{ $exif := $img.Exif.Tags }}

<section id=content>
  <div class="photo-content">
    <img src="{{ $img.RelPermalink }}" title="{{ $exif.Make }} {{ $exif.Model }}, {{ $exif.FocalLength }}mm, {{ $exif.ExposureTime }} sec., f/{{ $exif.FNumber }}, ISO {{ $exif.ISOSpeedRatings }}"/>
  </div>

  <div id=sub-header align="center">
    <span class="photo">{{ with $img.Exif.Date }}{{ .Format "January 02, 2006" }}{{ end }}&nbsp;&middot;&nbsp;{{ .Params.location }}. </span>
  </div>

</section>

{{ end }}
{{ partial "footer.html" . }}