.container {
  margin: 0 auto;
  max-width: 620px;
  width: 80%;
}

main,
footer,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 620px;
  width: 80%;
}

.nav {
  // box-shadow: 0 2px 2px -2px $shadow-color;
  overflow: auto;

  &-container {
    margin: 1rem auto;
    position: relative;
    text-align: center;
  }

  &-title {
    @include transition(all .2s ease-out);
    color: $blue;
    display: inline-block;
    margin: 0;
    padding-right: .2rem;

    &:hover,
    &:focus {
      opacity: .8;
    }
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
  }

  li {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    opacity: .6;
    padding: 0 2rem 0 0;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  a {
    color: $default-color;
    font-family: $sans-serif;
  }
}

@media (min-width: 600px) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}

footer {
  padding: 2rem 0;
  text-align: center;

  span {
    color: $grey-1;
    font-size: .8rem;
  }

  a {
    color: inherit;
  }
}


.archive-item-date {
  font-size: smaller;
}

.archive-item-link {
  text-decoration: none;
}

.archive ul {
  display: inline-block;
  list-style: none;
  padding: 0;
}
.archive ul li {
  padding-right: 0.6rem;
  margin: -10px 0;
}

@for $i from 1 through 50 {
  $base: 0.6em;
  $inc: 0.1*$i;

  .archive-item-#{$i} {
    font-size: $base + $inc
  }
}

.tags {
  margin-top: 0;
  margin-bottom: 0.6rem;
}

.meta {
  margin-bottom: 1rem;
  color: $grey-1;
  a {
    color: inherit;
  }
  font-size: 0.9rem;
}

.recently {
  border-top: .5px solid $grey-2;
  padding-top: 2rem;
}

.recently-no-title-item {
  color: inherit;
}

.aside {
  color: $grey-1;
  font-size: small;
  a {
    color: inherit;
  }
}

