{{ $img := resources.Get "main.jpg" }}
{{ $exif := $img.Exif.Tags }}

<article class="max-w-full prose dark:prose-light">
<img src="{{ $img.RelPermalink }}" title="{{ $exif.Make }} {{ $exif.Model }}, {{ $exif.FocalLength }}mm, {{ $exif.ExposureTime }} sec., f/{{ $exif.FNumber }}, ISO {{ $exif.ISOSpeedRatings }}"/>

<p>Hi, I’m Piotr! 👋</p>

<p>I am a husband to a renowned philosopher, <a href="http://karolinakrzyzanowska.com">Karolina Krzyżanowska</a>.</p>

<p>I work at <a href="https://www.mollie.com">Mollie</a> as a data engineer.</p>

<p>I enjoy playing awful electronic jazz music and riding a gravel bike in my free time.</p>

<p>I live in <s>Warsaw</s> <s>Leuven</s> <s>Bergen</s> <s>Munich</s> Amsterdam.</p>

</article>
