{{ define "main" }}
{{ $img := .Page.Resources.GetMatch .Params.photo}}
{{ $exif := $img.Exif.Tags }}
  <article class="max-w-prose">
    <header>
      {{ if .Site.Params.article.showBreadcrumbs | default false }}
        {{ partial "breadcrumbs.html" . }}
      {{ end }}
      <h1 class="mt-0 text-4xl font-extrabold text-neutral-800 dark:text-neutral">
        {{ .Title | emojify }}
      </h1>
      <div class="mt-8 mb-12 text-base text-neutral-400 dark:text-neutral-500">
        {{ with $img.Exif.Date }}{{ .Format "January 02, 2006" }}{{ end }}&nbsp;&middot;&nbsp;<a href="https://www.google.com/maps/search/{{ .Params.location | urlize }}">{{ .Params.location }}</a>
      </div>
    </header>
    <section class="prose dark:prose-light">
      <a href="{{ .Params.photo }}"><img src="{{ .Params.photo }}" title="{{ $exif.Make }} {{ $exif.Model }}, {{ $exif.FocalLength }}mm, {{ $exif.ExposureTime }} sec., f/{{ $exif.FNumber }}, ISO {{ $exif.ISOSpeedRatings }}"/></a>
    </section>
    <footer class="pt-8">
      {{ partial "author.html" . }}
      {{ partial "sharing-links.html" . }}
    </footer>
  </article>
{{ end }}
